/* CSS file */

global
{
	color: #000000;
	cornerRadius:5;
}

Application
{
	
	color: 						#333333;
	background-gradient-alphas: 0, 0;
	background-color: 			#666666;
	theme-color: 				#333333;
	font-weight:				normal;
	/*background-image:			Embed("/assets/general/main_bg.png");
	background-size:			"50%";*/
	modal-transparency-color:	#000000;
	modal-transparency-blur:	2;
}
/*
ComboBox
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
NumericStepper
{
	borderThickness: 1;
	cornerRadius: 0;
	borderStyle: inset;
}*/
DateChooser
{
	cornerRadius: 0;
	headerColors: #FFFFFF, #FFFFFF;
	selectionColor: #DFDFDF;
	rollOverColor: #E6E6E6;
}
DataGrid
{
	/*headerColors: #FFFFFF, #FFFFFF;*/
	alternatingItemColors: #FFFFFF, #FFFFFF;
	horizontalGridLines: true;
	horizontalGridLineColor: #CCCCCC;
	rollOverColor: #DDDDDD;
	selectionColor: #BBBBBB;
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
}
VScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}
HScrollBar
{
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}

/*Application
{
	backgroundGradientColors: #FFFFFF, #FFFFFF;
}*/
Accordion
{
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #000000;
	headerStyleName: accordionHeader;
	backgroundColor: #FFFFFF;
	themeColor: #D5D5D5;
	cornerRadius:0;
}
Button
{
	themeColor: #D5D5D5;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
}
Canvas
{	
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}
.accordionHeader
{
	borderColor: #000000;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}
.dataGridVerticalScrollBar
{
	cornerRadius: 0;
	thumbOffset: 1;
	trackColors: #FFFFFF, #FFFFFF;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
}


